body {
   background-color: #FFFFFF;
}

.main-content {
    margin: 0px 25%;
}

.hero {
	height: 700px;
	background-size: cover;
	background-position: center;
}

#opener {
    background-image: url("../img/Small-7804.jpg");
}

#pour {
    background-image: url("../img/IMG_7761.jpg");
    height: 500px;
}

.card {
	margin: 10%;
    padding: 4%;
	border-radius: 3px;
/*    background-color: #FFFFFF;*/
    border-radius: 3px;
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

#wide {
    margin: 10% 0% 0% 0;
}

h1 {
    font-family: raleway;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 36px;
}

h2 {
    font-family: raleway;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
}

h5 {
   font-family: raleway;
    font-weight: 100;
    font-size: 18px;
}

p {
    font-family: raleway;
    line-height: 1.6;
    font-size: 16px;    
}

.cta {
    position: relative;
    top: 50%;
    left: 45%;
    margin: -1.2% -4%;
    padding: 1% 3.5%;
    font-size: 24px;
    color: white;
    background-color: #ffad33;
    border: 2px solid white;
/*    border: none;*/
    border-radius: 40px;
}

.cta:hover{
    background-color: rgba(255,255,255, 1);
    border: 2px solid #ffad33;
    color: #ffad33;
}

.food-menu {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
    
}

#menu {
    display: block;
    margin: auto;
}

a {
  color: #244485;
  text-decoration: none; /* no underline */
}

