body {
    background-color: #EDF8FA;
    font-family: Raleway;
}

.main-content {
    margin: 0px 10%;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    padding: 5%;
}

.padding {
    padding: 8% 0%;
    background-color: #F0F4F5;
}

.contact-card {
    margin: 5%;
    border-radius: 3px;
}

.gallery{
    width: 30%;
}

.left-img{
    padding-bottom: 8%;
}

.right {
    float:right;
    width: 60%;  
}

h2 {
    font-weight: 400;
    padding: 0.25em 0em;
}

p {
    padding: 1.8em 0em;
    line-height: 1.7;
}

