body {
   background-color: #EDEDED;
}

.main-content {
    margin: 0px 25%;
}

.hero {
	height: 700px;
	background-size: cover;
	background-position: center;
}

#opener {
    background-image: url("../I/coffee.jpg");
}

.card {
	margin: 10%;
    padding: 4%;
    height: 120px;
	border-radius: 3px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1 {
    font-family: raleway;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-family: Roboto;
    line-height: 1.6;
    font-size: 16px;
    
    
}

