* {
	margin: 0;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: #F3F3F3;
}

.hd-center{
	margin: 0 auto;
	width: 80%;
}

.logo {
    width: 350px;
    margin: 10px 0;
	float: left;
}

ul {
    list-style-type: none;
}

nav li {
    float: right;
    font-family: Raleway;
    font-weight: 100;
    margin: 0px 80px 0px 0px;
    padding: 30px 16px;
    font-size: 18px;
    text-decoration: none;
    color: #1F1F1F;
    letter-spacing: 1px;
}

nav li:hover {
    background-color: #F6F6F6;
}